sphinx
myst-nb
Pillow
plenoptic==1.3.0
sphinx-book-theme
myst-parser
sphinx-copybutton
sphinx-togglebutton
sphinx-design
ipywidgets
requests
rich
click
jupytext
jupyterlab_myst
jupyter
jupyterlab<4.3
